*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem,0.8rem + 0.8vw,2rem);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}


svg{
  pointer-events: none;
}


/* home screen styles */

#intro {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 60px;
  flex-direction: column;
  align-items: center;

  .menu{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0px;
}

li{
  flex: 1;
  display: flex;
}

.menu-button{
  flex: 1;
  border: 2px solid black;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 38px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: box-shadow 0.5s;
}

.menu-button:hover{
  cursor: pointer;
  background-color: darkgray;
}

.menu-button:active{
  box-shadow: none;
}
} 







#canvas1{
  position: fixed;
  pointer-events: none;
  inset: 0;
}



.none{
  display: none !important;
}

#help{
  background-color: pink;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .whiteContainer{
    width: min(1000px,80%);
    background-color: white;
    border-radius: 10px;
    padding: 1em;
  }


  .heading{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flexColumn{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .wikipedia{
    margin-left: 10px;
  }
}

.backParent{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 10px;
}

.back{
  all: unset;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max(2.5em,50px);
  height: max(2.5em,50px);
  border-radius: 50%;
  background-color: white;
}

.back:hover{
  cursor: pointer;
}


#play{
  background-color: blue;
  position: relative;
  max-width: 100vw;
  min-height:  100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  .celling{
    position: absolute;
    top: 0;
    z-index: 1;
    background: white;
    width: 80%;
    height: 100px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 5px solid black;
    border-top: 0;
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .font,button::after{
    font-family: "Bowlby One SC", sans-serif;
    color: grey; 
    text-align: center;
    overflow: hidden;
  }

  

  

  

  .info{
    font-size: 1.5em;
  }

  

  

  


  .wrapper{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  button{
    all: unset;
    padding: 12px 18px;
    border: 2px solid grey;
    transition: transform 0.5s;
    background-color: black;
  }

  .two:after{
    content: "Two Players Mode"
  }
  .comp:after{
    content: "Computer";
  }

  button::after{
    background: linear-gradient(to right,black 50%,white 50%);
    background-size: 200%;
    background-clip:text;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 2s,color 2s;
  }

  

  button:hover{
    cursor: pointer;
  }
  button:hover::after{
    background-position: 100% 0%;
    color: transparent;
  }
  button:active{
    transform: scale(0.9);
  }
}



#game{
  border-collapse:collapse;
  max-width: 100vw;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  .container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }


  .player{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }


  .board{
    width: min(100%,500px);
    background: url("/asssets/images/art-removebg-preview\ \(1\).png");
    background-size: 1000px;
    background-position: center;
    min-width: 280px;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    cursor: pointer;
  }

  .board > *{
    aspect-ratio: 1;
    border: 1px solid black;
  
  }


  .shipBoard{
    width: 80%;
    position: fixed;
    bottom: 0;
    border-radius: 12px 12px 0px 0px;
    background-color: cadetblue;
    transition: height 0.5s;
  }

  

  .boardInner{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 10px;
  }

  .ship{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ship > p{
    font-style: italic;
    font-weight: bold;
  }

  .ship > img{
    cursor: grabbing;
  }

  


  .height40{
    height:40px;
  }


  .invisible{
    position: static;
    max-height: 0px;
    overflow: hidden;
  }

  .normalPosition{
    position: static !important;
    top: 0 !important;
    left: 0 !important;
  }

  .boardContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .downArrow{
    background-color:wheat;
    border-radius: 0px 0px 12px 12px;
    border: 1px solid black;
    border-top: 0;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }


  


  .turn{
    font-family: "Bowlby One SC", sans-serif;
  }
  .errors{
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    color:red;
    font-family: "Bowlby One SC", sans-serif;
    
  }



  .errorAnimation{
    animation: error 2s ease-in forwards;
  }
}

@keyframes error {
    0%{
      transform: translateY(0) translate(-50%, -50%);
      opacity: 1;
    }

    100%{
      transform: translateY(-200px) translate(-50%, -50%);
      opacity: 0;
    }
  }

@media screen and (max-width:600px) {
  #help{
    padding: 0;
  }
  #help > .whiteContainer{
    width: 100%;
    border-radius: 0;
  }
  ul{
    padding: 0;
  }
  li{
    list-style: none;
  }
}